<?xml version="1.0"?>

<model>
  <name>LaViRIA_cylinder_S</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Gustavo David  Mendoza Pinto</name>
    <email>gustavo.mendoza.dp@gmail.com</email>
  </author>

  <description>
    cylinder with measuraments r= 0.0445m h=1.5m to use as pilar  in the robotic area of the "Laboratory of  Robotic Vision and Artificial Intelligence" of the Engineering Division Campus Irapuato Salamanca of the University of Guanajuato.
  </description>
</model>
