<?xml version="1.0"?>

<model>
  <name>LaViRIA_floor</name>
  <version>1.0</version>
  <sdf version="1.4">model-1_4.sdf</sdf>
  <sdf version="1.5">model.sdf</sdf>

   <author>
    <name>Gustavo David  Mendoza Pinto</name>
    <email>gustavo.mendoza.dp@gmail.com</email>
  </author>

  <description>
    floor with measuraments of 6 x 6 m to use in the robotic area of the "Laboratory of Robotic Vision and Artificial Intelligence" of the Engineering Division Campus Irapuato Salamanca of the University of Guanajuato.
  </description>
</model>
